#container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	background-repeat: no-repeat;
	align-items: center;
	background-color: black;
}

#background {
	margin-right: 180px;
	background-image: url("../images/background2.png");
	height: 640px;
	width: 1024px ;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	background-repeat: no-repeat;
	align-items: center;

	
}

#base {
	background-image: url("../images/base.png");
	width: 50px;
	height: 30px;
	position: absolute;
	top: 600px;
	left:  610px;
}

.alien {
	background-image: url("../images/alien-1.png");
	width: 50px;
	height: 49px;
	position: absolute;

}

.alien2 {
	background-image: url("../images/alien-2.png");
	width: 50px;
	height: 37px;
	position: absolute;
}

#missiles {
	height: 640px;
	width: 1024px ;
	
}

.missile {
	background-image: url("../images/bullet.png");
	width: 8px;
	height: 27px;
	position: absolute;

}

#gameOver {
	font-family: 'ARCADECLASSIC', sans-serif;
	color: white;
	font-size: 75px; 
	position: absolute;
	
}

@font-face {
	font-family: 'ARCADECLASSIC';
	src: url('../css/ARCADECLASSIC.ttf')
}

#points, #score {
	font-family: 'ARCADECLASSIC', sans-serif;
	color: white;
	font-size: 25px;
}

#start {
	background-image: url("../images/play_button.png");
	width: 75px;
	height:  75px;
	border: none;
	margin: 20px;
	background-color: #0b2247;
}

#pause {
	background-image: url("../images/pause_button.png");
	width: 75px;
	height:  75px;
	border: none;
	margin: 20px;
	background-color: #0b2247;
}

#stop {
	background-image: url("../images/end_button.png");
	width: 75px;
	height:  75px;
	border: none;
	margin: 20px;
	background-color: #0b2247;
}

#buttons {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	background-repeat: no-repeat;
	align-items: center;
	background-color: #0b2247;
}